html {
  line-height: 1.2;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font: inherit;
}

hr {
  margin: 0;
  border: none;
}
