.bow-border {
  position: relative;
}

.bow-border::before,
.bow-border::after {
  @apply absolute inset-x-4 inset-y-1 border-2 border-smoke/10 rounded-lg;
  content: '';
}

.bow-border::before {
  transform: perspective(100px) rotateX(8deg);
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}

.bow-border::after {
  transform: perspective(100px) rotateX(-8deg);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
