@tailwind base;
@tailwind components;
@tailwind utilities;

.o-section-clip--ramp-bottom-right {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw - 14px),77% calc(100% - 5vw - 14px),0 100%,0 0);
}

.button {
  @apply bg-pink text-white text-2xl font-medium rounded;
  padding-inline: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.scooped-corners {
  outline: 1px solid red;
  --stop-list: transparent var(--r, 40px), #000 0;
  mask:
    radial-gradient(circle at   0    0 , var(--stop-list)),
    radial-gradient(circle at 100%   0 , var(--stop-list)),
    radial-gradient(circle at   0  100%, var(--stop-list)),
    radial-gradient(circle at 100% 100%, var(--stop-list));
  mask-composite: intersect;
}

.fancy-goo-2 {
  filter:url('#fancy-goo-2');
}

.fancy-goo-4 {
  filter:url('#fancy-goo-4');
}

.fancy-goo-8 {
  filter:url('#fancy-goo-8');
}
