@tailwind base;
@tailwind components;
@tailwind utilities;

/* .poly {
    clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw - 14px),77% calc(100% - 5vw - 14px),0 100%,0 0);
}

/* .wave-containe {
    background-color: aqua;
    width: 100%;
    height: 100px;
} */

/* .wave {
    position: relative;
    height: 70px;
    width: 100%;
    background: transparent;
    top: 100px;
    border-bottom: 2px dashed black;
}
  
.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: #F1FFBC;
    right: -5px;
    top: 40px;
    border-top: 2px dashed black;
}
  
.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: transparent;
    left: 0;
    top: 25px;
    border-bottom: 2px dashed black;
} */
