.scooped-corners {
  --stop-list: transparent 2.25rem, #000 0;
  mask:
    radial-gradient(circle at   0    0 , var(--stop-list)),
    radial-gradient(circle at 100%   0 , var(--stop-list)),
    radial-gradient(circle at   0  100%, var(--stop-list)),
    radial-gradient(circle at 100% 100%, var(--stop-list));
  mask-composite: intersect;
}
